

body {
    background-color: rgb(160, 160, 160);
    font-family: verdana;
}

main {
    text-align: center;
}

section p {
    color: white;
    font-size: 40px;
}

.tabuleiro div input {
    width: 100px;
    height: 100px;
    margin: 4px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 40px;
    border-radius: 15px;
    background-color: white;
}

#btnReiniciar {
    background-color: white;
    height: 40px;
    width: 150px;
    border: none;
    color: black;
    border-radius: 20px;
    font-size: 20px;
    font-family: verdana;
}