

body {
    background-color: rgb(197, 197, 197);
}

main {
    text-align: center;
}

section p {
    color: white;
    font-family: verdana;
    font-size: 40px;
}

.tabuleiro div input {
    width: 130px;
    height: 130px;
    margin: 4px;
    border: 1px solid gray;
    cursor: pointer;
    font-size: 40px;
    border-radius: 15px;
    background-color: white;
}



